.ant-layout-footer{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;   
    background: rgb(218, 237, 150);
} 

.midia_social {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style-type: none;
  
}

.midia_social li {
    margin: 0 10px ;
    cursor: pointer;
}


.midia_social li:hover{
    color: red;
}


 .text_footer{
  margin: 10px auto;
    font-size: 20px;
    font-weight: 400;
    color: black ;

 }
    
