@import '~antd/dist/antd.less';

.App {

  text-align: center;
}

.App-logo {
  pointer-events: none;
  background-image: url("../public/dog_192.png");
  
}

.App_header{
padding: 0;

}

.enviar{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 500px;
background-color: #f1f1f1;;
}

.Footer {
 background-color: rgb(108, 179, 179);
  text-align: center;
  color: black;
}
 

