@import '~antd/dist/antd.less';

.App {
  text-align: center;
  background-image: url("../public/dog_512.png");
}

.App-logo {
  pointer-events: none;
  background-image: url("../public/dog_192.png");
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
}
 */

