

/*  .container-main{
   background-color: aquamarine;
}   */


.btn-home{
   
   margin-left: 45px;
   padding: 5px;

}

.box-area-text{
padding: 5px;
margin-left: 10px;
text-align: justify;

} 

 .ant-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 25px;
    
}  