

/*  .container-main{
   background-color: aquamarine;
}   */


.ant-btn .ant-btn-default{
  width: 100%;
  position: absolute;
  left: 50%;
  

}

.box-area-text{
padding: 5px;
margin-left: 10px;
text-align: justify;

} 

 .ant-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 25px;   
}  

