
.cards_dog{
 
background-color: rgb(72, 255, 0);

}


.ant-tag .ant-tag-green{
  display: flex;
  justify-content: right;
}

.ant-card-meta-title{
  display:flex;
  justify-content: first baseline;
}
 .ant-card-bordered{
  background-color: yellowgreen;
}

 
.ant-card-hoverable{
    background-color: rgb(217, 216, 216);
} 