.ant-layout-header {
    line-height: 80px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #85b2e6;
}

 .ant-menu-overflow{
height: 80px;
line-height: none;
display: flex;
background-color: #87b4e8;
justify-content: right;

}




.logo {
    width: 100%;
   display: flex;
 align-items: center;
}


.ant-menu-title-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    
    
}

.ant-menu-horizontal{
    margin: 5px;
    border-radius: 2px;
    border-bottom: none;
    box-shadow: none;
}
